::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1d1e47;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #31326a;
    border-radius: 16px;

}